.testimony {
    background-image: url(../Asset/dietUser.png);
    background-size: cover;
    display: flex;
}
.testimony h2,.testimony h3 {
    text-align: center;
    font-family: cursive;
    color: white;
}
.testimony-explanation .eatanddrink {
    display: flex;
    justify-content: center;
    text-align: center;
}
.testimony-explanation .eatanddrink img {
    place-self: center;
    width: 8em;
    border: solid 1.25em transparent;
    padding: 0.75em;
    border-radius: 50%;
    background: radial-Gradient(circle at calc(50% + (50% - 0.625em)*cos(0deg)) calc(50% + (50% - 0.625em)*sin(0deg)), #f03355 calc(0.625em - 1px), transparent 0.625em), radial-Gradient(circle at calc(50% + (50% - 0.625em)*cos(90deg)) calc(50% + (50% - 0.625em)*sin(90deg)), #514b82 calc(0.625em - 1px), transparent 0.625em), radial-Gradient(circle at calc(50% + (50% - 0.625em)*cos(180deg)) calc(50% + (50% - 0.625em)*sin(180deg)), #ffa516 calc(0.625em - 1px), transparent 0.625em), radial-Gradient(circle at calc(50% + (50% - 0.625em)*cos(270deg)) calc(50% + (50% - 0.625em)*sin(270deg)), #25b09b calc(0.625em - 1px), transparent 0.625em), conic-Gradient( #f03355 0% 90deg, #514b82 0% 180deg, #ffa516 0% 270deg, #25b09b 0% 360deg);
    background-origin: border-box;
    --mask: radial-Gradient(closest-side, red calc(100% - 1.25em - 0.75em - 1px), transparent calc(100% - 1.25em - 0.75em) calc(100% - 1.25em), red calc(100% - 1.25em + 1px) calc(100% - 1px), transparent);
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
.testimony-explanation .eatanddrink p {
    margin-top: 30px;
    color: white;
    backdrop-filter: blur(10px);
}

.testimony_container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
}
.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin: 12px 0;
    backdrop-filter: blur(20px);
    border:1px solid #fff;
    box-shadow: 10px 10px 10px #ffffff6a;
    padding-bottom: 20px;
    border-radius: 20px;
    
}
.carousel > input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: 0;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    border-radius: 20px;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    border-radius: 20px;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    border-radius: 20px;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    border-radius: 20px;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    border-radius: 20px;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
    border-radius: 20px;
}
.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}
.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    box-sizing: border-box;
    white-space: normal;
}
.carousel__slide figure {
    display: flex;
    margin: 0;
}
.carousel__slide div {
    position: relative;
    width: 100%;
}
.carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6666666667%;
}
.carousel__slide div > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: contain;
}
.carousel__slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
    color: white;
}
.carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}
.carousel__slide.scrollable {
    overflow-y: scroll;
}
.carousel__thumbnails {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
    margin-top: 20px;
}
.carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
    display: block;
    position: relative;
}
.carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}
.carousel__thumbnails label > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
    cursor: pointer;
}
.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------------------------IMC------------------------------------------------------------------------------------- */
.imc-content {
    display: flex;
}
.imc-left-container {
    display: flex;
    flex-direction: column;
}
.IMCOMS img {
    width:900px;
}

.imc-left-container {
    display: flex;
    width: 50%;
}
.range-container {
    display: flex;
    flex-direction: column;
  }
  
  #rangeValue, #rangeUnit, #secondRangeValue, #secondRangeUnit {
    display: inline-block;
    vertical-align: middle;
    font-size: 3em;
    text-align: center;
  }
  .range {
    display: block;
    margin-top: 10px;
    width: 400px;
    height: 15px;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  }
  
  #imcValue {
    font-size: 4em;
    text-align: center;
  }

  #imcCategory {
    font-size: 4em;
    text-align: center;
  }
